@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@font-face {
  font-family: "Audiowide";
  src: url("/public/fonts/Audiowide-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Corbista";
  src: url("/public/fonts/Crobista.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: swap
}
@custom-variant dark (&:is(.dark *));

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;

}

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: 'Geist Variable', sans-serif;
  --radius-sm: 0.375rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.625rem;
  --radius-xl: 0.875rem;
  --radius-2xl: 1.125rem;
  --radius-3xl: 1.375rem;
  --radius-4xl: 1.625rem;

}

@layer base {
  * {
    @apply outline-none;

  }
  body {
    @apply text-white;

  }
  html {
    @apply font-sans;

  }

}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}

.animate-scroll:hover {
  animation-play-state: paused;
}

.hero-title-font {
  font-family: "Corbista", sans-serif;
}

.shine-text {
  position: relative;
  display: inline-block;
  color: white;
  overflow: hidden;
}

/* moving light */
.shine-text::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 100%;

  background: linear-gradient(
    120deg,
    transparent 20%,
    rgba(255, 255, 255, 0.6),
    transparent 80%
  );

  animation: shine 3s linear infinite;
}

/* animation */
@keyframes shine {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}